<ul class="js-country-list">
{{#each this}}
    <li class="js-country list">
        <img class="img-min" width="60px" height="35px" src="{{flag}}" alt="{{name}}">
        <h2 class="list-title">{{name}}</h2>
    </li>
    {{/each}}
</ul>